@media print {
  .print-wrapper {
    display: block;
  }

  .print-wrapper .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .print-wrapper .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .print-wrapper .footer-space {
    width: 100%;
    left: 0;
  }

  .print-wrapper .header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }

  .print-wrapper .footer {
    position: fixed;
    bottom: 0;
  }

  .print-wrapper .content {
    width: 100vw;
    position: relative;
    left: -2px;
  }
}
