html,
body,
#root {
  width: 100%;
  height: 100%;
}

.split-container {
  gap: 0.2rem;
}

.rsw-ce:focus {
  outline: none !important;
}
.rsw-ce:focus {
  outline: none !important;
}
.rsw-btn {
  border-radius: 4px;
}
.rsw-btn:hover {
  background: #e0e0e07d !important;
}

.rsw-btn[data-active="true"] {
  background: #e0e0e07d !important;
}

@media print {
  body,
  html {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .print-root {
    padding: 12mm;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
  }

  td {
    border: 1px solid #000;
    padding: 4px;
    vertical-align: top;
  }

  .label {
    font-weight: bold;
    background: #f0f0f0;
    white-space: nowrap;
    display: "flex";
    justify-content: "center";
    align-items: "center";
  }

  .print-block {
    page-break-inside: avoid;
    margin-bottom: 10px;
  }

  .footer-image {
    width: 100%;
    margin-top: 4px;
  }

  button {
    display: none;
  }
  .print-header {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    margin-bottom: 16px;
    align-items: center;
  }

  .print-header h1 {
    margin: 0;
    font-size: 20px;
  }

  .print-header h3 {
    margin: 4px 0 0;
  }

  .print-header-right {
    text-align: right;
    font-size: 12px;
  }
}
