@import url("./print.css");

html,
body,
#root {
  width: 100%;
  height: 100%;
  /* user-select: none; */
}

.tab-container .MuiDataGrid-root,
.tab-container .rsw-editor {
  border-radius: 4px !important;
}

.rsw-ce,
.MsoNormal span {
  color: inherit !important;
}
